  :root {
      /** primary **/
      --color-base: #eff1f5;
      --color-primary: #5fa0cb;
      --color-primary-rgb: 95, 160, 203;
      --color-primary-contrast: #2e2e2e;
      --color-primary-contrast-rgb: 0, 0, 0;
      --color-primary-shade: #548db3;
      --color-primary-hover: #214f6d09;
      --color-primary-tint: rgb(49, 114, 158);
    
      /** secondary **/
      --color-secondary: #ffa726;
      --color-secondary-rgb: 61, 194, 255;
      --color-secondary-contrast: #ffffff;
      --color-secondary-contrast-rgb: 255, 255, 255;
      --color-secondary-shade: #FFA726;
      --color-secondary-hover: rgba(255, 222, 38, 0.342);
      --color-secondary-tint: #ee8f00;
    
      /** tertiary **/
      --color-tertiary: #5260ff;
      --color-tertiary-rgb: 82, 96, 255;
      --color-tertiary-contrast: #ffffff;
      --color-tertiary-contrast-rgb: 255, 255, 255;
      --color-tertiary-shade: #4854e0;
      --color-tertiary-tint: #6370ff;
    
      /** success **/
      --color-success: #2dd36f;
      --color-success-rgb: 45, 211, 111;
      --color-success-contrast: #ffffff;
      --color-success-contrast-rgb: 255, 255, 255;
      --color-success-shade: #28ba62;
      --color-success-tint: #42d77d;
    
      /** warning **/
      --color-warning: #ffc409;
      --color-warning-rgb: 255, 196, 9;
      --color-warning-contrast: #000000;
      --color-warning-contrast-rgb: 0, 0, 0;
      --color-warning-shade: #e0ac08;
      --color-warning-tint: #ffca22;
    
      /** danger **/
      --color-danger: #ff4860;
      --color-danger-hover: #ff486041;
      --color-danger-rgb: 235, 68, 90;
      --color-danger-contrast: #ffffff;
      --color-danger-contrast-rgb: 255, 255, 255;
      --color-danger-shade: #cf3c4f;
      --color-danger-tint: #ed576b;
    
      /* disabled */
      --disabled-color: #f6f6f6;
      /** dark **/
      --color-dark: #2b2b2b;
      --color-dark-base: #212121;
      --color-dark-hover: rgba(87, 87, 87, 0.658);
      --color-dark-rgb: 34, 36, 40;
      --color-dark-contrast: #ffffff;
      --color-dark-contrast-rgb: 255, 255, 255;
      --color-dark-shade: #1e2023;
      --color-dark-tint: #383a3e;
    
      /** medium **/
      --color-medium: #92949c;
      --color-medium-rgb: 146, 148, 156;
      --color-medium-contrast: #ffffff;
      --color-medium-contrast-rgb: 255, 255, 255;
      --color-medium-shade: #808289;
      --color-medium-tint: #9d9fa6;
    
      /** light **/
      --color-light: #dfdfdf;
      --color-light-rgb: 244, 245, 248;
      --color-light-contrast: #000000;
      --color-light-contrast-rgb: 0, 0, 0;
      --color-light-shade: #d7d8da;
      --color-light-tint: #f5f6f9;
    
    
    /* html { */
      /* For more informattw on dynamic font scaling, visit the documentattw: 
      https://twicframework.com/docs/layout/dynamic-font-scaling */
      /* --dynamic-font: var(--default-dynamic-font); */
      /* font-family: 'Impact', sans-serif; */
    /* } */
    
}