input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.v-theme--light > .v-data-table {
  --v-theme-surface: #fff !important;
}
.v-theme--dark > .v-data-table {
  --v-theme-surface: #212121 !important;
  
}
.v-data-table-header__content {
  text-align: center;
}
.v-table  {
  background: var(--v-theme-surface) !important;
}
.v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > td, .v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > th {
  border-bottom: none;
}
.v-table .v-table__wrapper > table > tbody > tr:hover > td, .v-table .v-table__wrapper > table > tbody > tr:hover > th {
  background: #e6e6e63a;
}
.v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th {
  padding-bottom: 7px !important;
  box-shadow: inset 0 -1.1px 0 #75757542;
}
.v-table > .v-table__wrapper > table > tbody > tr > th, .v-table > .v-table__wrapper > table > thead > tr > th, .v-table > .v-table__wrapper > table > tfoot > tr > th {
  font-weight: 700;
  user-select: none;
  text-align: start;
}
th {
  background: var(--v-theme-surface) !important;
}
.v-field__input {
  overflow: auto !important;
  flex-wrap: nowrap !important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--v-theme-surface) !important; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*SIZING STYLE*/
.vh-100 {
  height: 100vh !important;
}
.vh-90 {
  height: 90vh;
}
.vw-100 {
  width: 100vw !important;
}
.vw-50{
  width: 50vw;
}
.w-fit {
  width: auto !important;
}
.w-85 {
  width: 85% !important;
}
.vh-30 {
  height: 35vh !important;
}
.h-80 {
  height: 80% !important;
}
.h-85 {
  height: 83% !important;
}
 
  .w-20 {
    width: 20vw !important;
  }
  .vw-25 {
    width: 25vw;
  }
  .vh-75 {
    height: 75vh ;
  }
  .v-select__selection-text {
    font-size: 11pt;
  }
  .font-small {
    font-size: 1rem !important;
  }
  .rounded-right{
    border-radius: 7px 0px 0px 7px;
  }
  .rounded-left{
    border-radius: 0px 7px 7px 0px;
  }
  .bg-blue-custom {
    background: #5fa0cb;
  }
  .dialog-width {
    min-width: 320px;
    width: 29vw;
  }
  .text-blue-custom {
    color: #5fa0cb;
  }
  .dp__input {
    font-size: 10pt !important;
    height: 43px !important;
    border-color: #ababab !important;
  }

label.v-label {
  font-size: 9pt !important;
}
.text-hidden {
    visibility: visible;
  }
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.m-center{
  display: flex;
  align-self: center;
}
/*MARGIN*/

/* COLOR */
.bg-trans-blue {
  background: hsla(0, 0%, 100%, 0.356) !important
}
.ms-n15p {
  margin-left: -15%;
}

/*BORDER*/
.rounded-xlarger {
  border-radius: 10%;
}
.border-indigo {
  border-color: #3B7AA9 !important;
}
/* CARD */
.size-card {
  width: 55vh;
  height: 65vh;
}
.icon-small {
  width: 7%;
  height: auto;
}
/* FONT */
.text-montserrat {
  font-family: 'Montserrat';
}
.text-med {
  font-size: 10.5pt;
  color: black;
  font-weight: 500;
}
.text-bluetheme {
  color: #0C223D;
}
.font-heading {
  font-size: 3vw;
}
.font-large {
  font-size: 2vw;
}
.font-25 {
  font-size: 25px;
}
.word-space-heading {
  margin-top: -12px;
}
/* ROUNDED */
.rounded-right {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 20px !important;
}
.rounded-left {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 20px !important;
}
/*LINK STYLE*/

a {
  text-decoration: none;
}

.input-small {
  height: 15px;
}
.color-orangetheme {
  background-color: #f9a825;
}

/*BACKGROUND*/
  .bg-darkbluetheme {
    background: #0C223D !important;
  }
  .bg-bluetheme {
    background-image: url('./img/bg-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-people {
    background-color: #0C223D;
    background-image: url('./img/people1.png');
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: bottom;
  }

.covered {
  width: 300px;
  margin-left: -55px;
}
.mobile {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.bg-auri {
  background-image: url('./img/bg-01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 776px) {
  .bg-auri {
    background-image: url('./img/bg-01.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }
}
/* @media (max-width: 1000px) and (min-height: 600px) {
  .mobile {
    visibility: visible;
  }
  .bg-bluetheme {
    background-color: #fff;
    background-image: none;
  }
  /* .bg-people {
    background-color: #0C223D;
    background-image: url('./img/people1.png');
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center;
  } */
  
  /* .show {
    visibility: hidden;
  } */
  /* .size-card {
    width: 100%;
    height: 50vh;
    margin-bottom: 0;
    margin-top: auto;
  }
  .logo-small {
    width: 15vw !important;
    height: 15vw !important;
  }
  .btn-login {
    min-width: 100px;
    width: 25vw;
    max-width: 75vw;
    font-size: 0.7em;
  }
  .font-large {
    font-size: 5vw;
  }
  .icon-small {
    width: 3vw;
    height: 4vw;
  }
  .toolbar-p {
    padding-top: 10%;
    padding-bottom: 0;
  } */
/* } 
/* @media only screen and (max-width: 600px) {
  .font-large {
    font-size: larger
  }
  .logo-size {
    width: 100px;
    max-width: 150px;
  }
  .word-space-heading {
    margin-top: 0;
  }
  .text-field {
    margin-top: 0;
  }
}
@media only screen and (min-width: 600px){
  .logo-size {
    min-width: 150px;
    max-width: 200px;
  }
  .text-field {
    margin-top: 0;
  }
  .btn-login {
    width: 15vw;
    font-size: 0.7em;
    margin-top: 2%;
  }

}
@media only screen and (min-width: 768px) {
  .logo-size {
    min-width: 500px;
    /* max-width: 400px; */
  /* }
  .word-space-heading {
    margin-top: -15px;
  }
  .toolbar-p {
    padding-top: 10%;
    padding-bottom: 0;
  }
  .btn-login {
    width: 13vw;
    height: 6vh !important;
    font-size: 1em;
    margin-top: 15%;
  }
  .text-field {
    margin-top: 5%;
  }
} */ 