/*SIZING STYLE*/
.vh-100 {
  height: 100vh !important;
}
.vh-90 {
  height: 90vh;
}
.vw-100 {
  width: 100vw !important;
}
.vw-50{
  width: 50vw;
}
.w-fit {
  width: auto !important;
}
.w-85 {
  width: 85%;
}
 
  .w-20 {
    width: 20vw !important;
  }
  .vw-25 {
    width: 25vw;
  }
  .vh-75 {
    height: 75vh ;
  }
  .v-select__selection-text {
    font-size: 11pt;
  }
  .font-small {
    font-size: 1rem !important;
  }
  .rounded-right{
    border-radius: 7px 0px 0px 7px;
  }
  .rounded-left{
    border-radius: 0px 7px 7px 0px;
  }
  .bg-blue-custom {
    background: #3B7AA9;
  }
  .text-blue-custom {
    color: #3B7AA9 !important;
  }
  .dp__input {
    font-size: 10pt !important;
    height: 43px !important;
    border-color: #ababab !important;
  }

.v-theme--light > .v-data-table {
  --v-theme-surface: #fafafa;
}

.v-table  {
    background: var(--v-theme-surface);
}

th {
  background: #fafafa !important;
}

.text-hidden {
    visibility: visible;
  }
.absolute {
  position: absolute;
}
.m-center{
  display: flex;
  align-self: center;
}
/*MARGIN*/

.ms-n15p {
  margin-left: -15%;
}

/*BORDER*/
.rounded-xlarger {
  border-radius: 10%;
}
/* CARD */
.size-card {
  width: 29vw;
  height: 33vw;
}
.icon-small {
  width: 1.5vw;
  height: 2vw;
}
/* FONT */
.text-montserrat {
  font-family: 'Montserrat';
}
.text-bluetheme {
  color: #0C223D;
}
.font-heading {
  font-size: 4.5vw;
}
.font-large {
  font-size: 2vw;
}
.word-space-heading {
  margin-top: -12px;
}

/*LINK STYLE*/

a {
  text-decoration: none;
}

.input-small {
  height: 15px;
}
.color-orangetheme {
  background-color: #f9a825;
}

/*BACKGROUND*/
  .bg-bluetheme {
    background-image: url('./img/bg-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.covered {
  width: 300px;
  margin-left: -55px;
}
.mobile {
  visibility: hidden;
}
.show {
  visibility: visible;
}
@media (max-width: 1000px) and (min-height: 600px) {
  .mobile {
    visibility: visible;
  }
  .bg-bluetheme {
    background-color: #fff;
    background-image: none;
  }
  .bg-people {
    background-color: #0C223D;
    background-image: url('./img/people1.png');
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .show {
    visibility: hidden;
  }
  .size-card {
    width: 100%;
    height: 50vh;
    margin-bottom: 0;
    margin-top: auto;
  }
  .logo-small {
    width: 15vw !important;
    height: 15vw !important;
  }
  .btn-login {
    min-width: 100px;
    width: 25vw;
    max-width: 75vw;
    font-size: 0.7em;
    margin-top: 50%;
  }
  .font-large {
    font-size: 5vw;
  }
  .icon-small {
    width: 3vw;
    height: 4vw;
  }
  .toolbar-p {
    padding-top: 10%;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .font-large {
    font-size: larger
  }
  .logo-size {
    width: 100px;
    max-width: 150px;
  }
  .word-space-heading {
    margin-top: 0;
  }
  .text-field {
    margin-top: 0;
  }
}
@media only screen and (min-width: 600px){
  .logo-size {
    min-width: 150px;
    max-width: 200px;
  }
  .text-field {
    margin-top: 0;
  }
  .btn-login {
    width: 15vw;
    font-size: 0.7em;
    margin-top: 2%;
  }

}
@media only screen and (min-width: 768px) {
  .logo-size {
    min-width: 350px;
    /* max-width: 400px; */
  }
  .word-space-heading {
    margin-top: -25px;
  }
  .toolbar-p {
    padding-top: 10%;
    padding-bottom: 0;
  }
  .btn-login {
    width: 13vw;
    height: 6vh !important;
    font-size: 1em;
    margin-top: 15%;
  }
  .text-field {
    margin-top: 5%;
  }
}